@import "stages.css";
@import "section.css";
@import "table.css";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEF2F4;
}

.container {
    min-width: 1400px;
}

.row {
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
}

select, option {
    cursor: pointer;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

#multiStepForm {
    position: relative;
    display: block;
    width: 100%;
    min-height: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    font-size: 12px;
}

.narrow-column {
    width: 50px;
    text-align: center;
}

.button-to-bottom {
    position: absolute;
    bottom: 15px; /* Расстояние от низа */
    left: 30px;
    right: 0;
    display: flex;
    gap: 8px; /* Расстояние между кнопками */
}

.file-message {
    font-size: 14px;
    color: #828B97;
}

.spinner {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}