:root {
    --default: #D3D7DC;
    --stage-1: #2FC6F6;
    --stage-2: #F7D250;
    --stage-3: #3FDB90;
}

.stage {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px 0 0 4px;
    background-color: var(--default);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stage::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid var(--default);
}

#stage-1 {
    border-bottom: 3px solid var(--stage-1);
}

#stage-1.active {
    background-color: var(--stage-1);
    border-bottom: 3px solid var(--stage-1);
}

#stage-1.active::before {
    border-left: 15px solid var(--stage-1);
}

#stage-2 {
    border-bottom: 3px solid var(--stage-2);
}

#stage-2.active {
    background-color: var(--stage-2);
    border-bottom: 3px solid var(--stage-2);
}

#stage-2.active::before {
    border-left: 15px solid var(--stage-2);
}

#stage-3 {
    border-bottom: 3px solid var(--stage-3);
}

#stage-3.active {
    background-color: var(--stage-3);
    border-bottom: 3px solid var(--stage-3);
}

#stage-3.active::before {
    border-left: 15px solid var(--stage-3);
}